.mb-none {
	display: block;
}
.d-none {
	display: none;
}
.contentWidth {
	width: calc(100% - 80px);
	max-width: 1200px;
	margin: 0 auto;
}
.py-lg {
	padding: 120px 0;
}
.hedingDesign {
	h2 {
		font-size: 40px;
		color: $cWhite;
		text-align: center;
	}
	span {
		background-color: $border;
		width: 40px;
		height: 2px;
		display: block;
		margin: 10px auto;
	}
}

// ====================
// top page
// ====================

.hero {
	background-image: url(../../images/pc_bg3.png);
	height: 100vh;
	&__inner {
		top: 35%;
		left: 35%;
		transform: translateY(-35%) translateX(-35%);
		h1 {
			img {
				width: 50%;
				margin-left: 18%;
			}
		}
		p {
			font-size: 30px;
			margin-top: 40px;
		}
	}
}

.concept {
	&__heding {
		h2 {
			font-size: 40px;
			margin-bottom: 40px;
		}
	}
	&__contents {
		p {
			font-size: 20px;
			margin-bottom: 40px;
		}
		img {
			width: 40%;
			right: -150px;
			bottom: -150px;
		}
	}
}

.pursuit {
	&__items {
		margin-top: 120px;
		display: flex;
		justify-content: space-around;
	}
	&__item {
		flex-basis: 33%;
		margin: 0 20px;
		h3 {
			font-size: 28px;
			margin-bottom: 60px;
		}
	}
	&__contents {
		p {
			font-size: 16px;
		}
		img {
			width: 100%;
			margin-left: 0;
			margin-top: 0;
		}
	}
}

.service {
	&__inner {
		padding-bottom: 0;
	}
	&__heding {
		margin-bottom: 100px;
	}
	&__item {
		display: flex;
		align-items: center;
		flex-flow: row-reverse;
		&:nth-child(2) {
			flex-flow: row;
		}
		img {
			width: 50%;
			height: 500px;
			object-fit: cover;
		}
	}
	&__text {
		color: $cWhite;
		margin: 40px auto 50px auto;
		text-align: center;
		h3 {
			margin-bottom: 30px;
			font-size: 28px;
		}
		p {
			font-size: 17px;
		}
		a {
			display: inline-block;
			border: 1px solid rgba(255, 255, 255, 0.3);
			padding: 15px 50px;
			margin-top: 40px;
			font-size: 17px;
		}
	}
}

.voice {
	background-color: #fff;
	background-image: none;
	height: auto;
	&__inner {
		padding: 0;
		display: flex;
		img {
			width: 40%;
			object-fit: cover;
		}
	}
	&__contents {
		background-color: $cWhite;
		padding-top: 100px;
		padding-left: 50px;
		flex-basis: 60%;
		height: auto;
		margin: 0;
		color: #111;
		position: relative;
		h2 {
			font-size: 40px;
			text-align: left;
			margin-bottom: 60px;
			text-shadow: none;
		}
		p {
			font-size: 20px;
			text-shadow: none;
			line-height: 40px;
			margin-bottom: 40px;
		}
		img {
			width: 35%;
			text-align: right;
			position: absolute;
			bottom: 100px;
			right: 0;
		}
	}
}

.company {
	&__heding {
		margin-bottom: 100px;
	}
	&__contents {
		display: flex;
		iframe {
			width: 50%;
			height: 500px;
		}
	}
	&__items {
		background-image: url(../../images/company_bg.png);
		background-position: -20px 30px;
		flex-basis: 50%;
	}
	&__item {
		color: $cWhite;
	}
	&__info {
		display: flex;
		margin-bottom: 20px;
		p {
			font-size: 20px;
			&:first-child {
				flex-basis: 20%;
				margin-left: 130px;
			}
			&:last-child {
				flex-basis: 50%;
			}
		}
	}
}

// =====================
// bottom pages
// =====================
.webhero {
	&__inner {
		img {
			width: 100%;
			height: 600px;
			object-fit: cover;
			object-position: 0 -300px;
		}
	}
	&__contents {
		padding: 60px 0;
		color: $cWhite;
		p {
			font-size: 25px;
			line-height: 40px;
			text-align: center;
		}
	}
}
$commonSpace: 100px;
.price {
	.bg-text {
		p {
			font-size: 100px;
			letter-spacing: 10px;
		}
	}
	.black-heding {
		width: 55%;
		height: 80px;
		line-height: 80px;
		h2 {
			padding-left: 40px;
			font-size: 50px;
		}
	}
	&__item {
		padding: 60px 0;
	}
	&__top {
		margin-left: $commonSpace;
		p {
			font-size: 25px;
			margin-bottom: 0.2em;
		}
		h3 {
			font-size: 50px;
			margin-bottom: 20px;
		}
		.yen {
			font-size: 50px;
			font-weight: 600;
			margin-right: $commonSpace;
			text-align: right;
		}
	}
	&__contents__wrapper {
		margin-top: 50px;
		margin-left: 150px;
		padding: 15px;
		padding-left: 15px;
		border: 1px solid rgba(17, 17, 17, 0.3);
		width: 40%;
		//border-left: none;
	}
	&__contents {
		border: 1px solid rgba(17, 17, 17, 0.1);
		padding: 50px;
		padding-left: 50px;
		p {
			font-size: 23px;
		}
	}
	&__image {
		width: 30%;
		display: block;
		margin: 0 150px 0 auto;
		margin-top: -400px;
	}
	&__note {
		margin-left: $commonSpace;
		margin-top: -200px;
		p {
			margin-bottom: 0.3em;
			font-size: 20px;
			opacity: 0.8;
		}
	}
	&__btn {
		display: block;
		text-align: center;
		padding: 20px 30px;
		border: 1px solid rgba(17, 17, 17, 0.3);
		color: rgba(17, 17, 17, 0.6);
		width: 500px;
		margin: 100px auto;
	}
}