.mobile-menu {
	position: fixed;
	top: $headerHeight;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background-color: $cHeader;
	transform: translateY(calc(-100vh - 100px));
	transition: transform 1s ease;
	z-index: 10;
	&.menu-open {
		transform: translateY(0);
	}
	&__inner {
		padding: 60px 30px;
	}
	&__heding {
		h2 {
			color: rgba($color: #000000, $alpha: 0.8);
			position: relative;
			font-size: 40px;
			margin-bottom: 50px;
			& span {
				width: 200px;
				height: 1px;
				background-color: rgba($color: #000000, $alpha: 0.6);
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	&__list {
		margin-bottom: 50px;
		ul {
			li {
				margin: 20px 0;
				a {
					font-size: 25px;
					color: rgba($color: #000000, $alpha: 0.8);
				}
			}
		}
	}
}

.mobile-menu__btn {
	position: fixed;
	top: 25px;
	right: 10px;
	& > span {
		background-color: #333;
		width: 35px;
		height: 2px;
		display: block;
		margin-bottom: 9px;
		transition: transform 0.7s;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

//header-open
.header {
	&.open {
		.mobile-menu__btn {
			& > span {
				&:nth-child(1) {
					transition-delay: 70ms;
					transform: translateY(11px) rotate(135deg);
				}
				&:nth-child(2) {
					transition-delay: 0s;
					transform: translateX(-18px) scaleX(0);
				}
				&:nth-child(3) {
					transition-delay: 140ms;
					transform: translateY(-11px) rotate(-135deg);
				}
			}
		}
	}
}
